{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:hiddengems_game_sync_update_all' %}">
            Update all Steam games
        </a>
    </li>
    <li>
        <a href="{% url 'admin:hiddengems_game_sync_add_missing' %}">
            Add missing Steam games
        </a>
    </li>
    <li>
        <a href="{% url 'admin:hiddengems_game_sync_update_one' %}">
            Update one by Steam ID
        </a>
    </li>
    {{ block.super }}
{% endblock %}