{% extends "admin/base_site.html" %}

{% block content %}
    <h1>Update one Steam game</h1>

    <form method="post">
        {% csrf_token %}
        <div>
            <label for="steam_id">Steam ID:</label>
            <input type="text" name="steam_id" id="steam_id" required>
        </div>

        <div style="margin-top: 1rem;">
            <button type="submit" class="default">Submit</button>
            <a href="{% url 'admin:hiddengems_game_changelist' %}">Cancel</a>
        </div>
    </form>
{% endblock %}