# Django core settings
# Generate a new secret key by running:
# python3 -c "from django.core.management.utils \
# get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY= #your-secret-key-here

# Set to True to see detailed error pages locally
DEBUG=False

# Set to True to use SQLite locally, no database setup needed
DEVELOPMENT_MODE=False

# Allowed hosts (comma-separated)
# for local development, 127.0.0.1 and localhost are sufficient
# remember to add your DevEDU url here
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Database settings
# These are only required if DEVELOPMENT_MODE=False
# Contact the project admin (dhaggitt@uccs.edu) for the production
# database credentials
DB_NAME=hiddengems
DB_USER= #add-db-user-here
DB_PASSWORD= #add-db-password-here
DB_HOST=localhost
DB_PORT=

# Comma-separated list of trusted origins for CSRF protection
# Include any domains that will be submitting forms to your app
CSRF_TRUSTED_ORIGINS=http://localhost:3000